@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>本网站尚处于建设阶段,目前仅用于测试目的.</p>
<p>架构于Asp.NetCore</p>
<p>基础功能模块待定，欢迎大家提供参考意见</p>
<p>后续会提供留言板块</p>
<p>仅代表我小辉个人感谢大家的访问</p>


