
@{
    Layout = null;
}

<!DOCTYPE html>

<head>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        $(document).ready(function () {
            var appDomain = "http://localhost:52095/";
            $("#btn_fileUpload").click(function () {
                var fileUpload = $("#files").get(0);
                var files = fileUpload.files;
                var data = new FormData();
                for (var i = 0; i < files.length; i++) {
                    data.append(files[i].name, files[i]);
                }
                $.ajax({
                    type: "POST",
                    url: appDomain + 'pictures/post',
                    contentType: false,
                    processData: false,
                    data: data,
                    success: function (data) {
                        alert("upload success!");
                        console.log(JSON.stringify(data));
                    },
                    error: function () {
                        alert("upload error!");
                        console.log(JSON.stringify(data));
                    }
                });
            });
        })
    </script>
</head>
<title></title>

<body>
    <article>
        <header>
            <h2>article-form</h2>
        </header>
        <div>
            <form id="uploadForm" enctype="multipart/form-data">
                <input type="file" id="files" name="files" placeholder="file" multiple><br><br>
                <input type="button" id="btn_fileUpload" value="fileUpload">
            </form>
        </div>
    </article>
</body>
