@model Album
@{
    ViewData["Title"] = "Album";
}

<div class="row">
    @foreach (var p in Model.Lines)
    {
        if (p.Delete)
        {
            continue;
        }
        <div class="col-md-4">
            <h4>
                <strong>@Model.Name</strong>
                <a asp-action="Create" asp-controller="Comment" asp-route-area="" class="btn btn-sm btn-primary pull-right" asp-route-productId="@Model.AlbumID">Like?</a>
            </h4>
            <a href="#" class="thumbnail">
                @{
                    string srcsetData = "";
                    srcsetData += p.Picture.GetRateName("4x") + " 4x, ";
                    srcsetData += p.Picture.GetRateName("3x") + " 3x, ";
                    srcsetData += p.Picture.GetRateName("2x") + " 2x, ";
                    srcsetData += p.Picture.GetRateName("1x") + " 1x";
                }
                <img src="@p.Picture.GetRateName("1x")" style="width:100%" srcset="@srcsetData" alt="Albums" />
            </a>
            
        </div>
    }
</div>


