@model Album
@{
    ViewData["Title"] = "Album";
}

<div class="row">
    @foreach (var p in Model.Lines)
    {
        if (p.Delete)
        {
            continue;
        }
        <div class="well col-md-4">
            <h4>
                <strong>@Model.Name</strong>
                <a asp-action="Create" asp-controller="Comment" asp-route-area="" class="btn btn-sm btn-primary pull-right" asp-route-productId="@Model.AlbumID">Like?</a>
            </h4>
            <a href="#" class="thumbnail">
                <img src="@p.Picture.PictureName" alt="Albums"/>
            </a>
        </div>
    }
</div>


