

<div>
    <h1>Hello everybody!This is a web site for xiaoHuiHUi.The web site is buiding.Some feather willl be added later!</h1>
    <h1>welcome!</h1>
</div>
<table class="table table-striped table-bordered">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
    </tr>
    <tr>
        <td>1</td>
        <td>apple</td>
        <td>1.2</td>
    </tr>
    <tr>
        <td>1</td>
        <td>apple</td>
        <td>1.2</td>
    </tr>
</table>

