
@*<div class="container">
    <img src="~/Files/Pictures/7a9ede52-bb57-4968-9539-3c0019dd2fdb.jpg"/>
</div>*@
<div class="row">
    <div class="col-md-4"><img src="~/Files/Pictures/7a9ede52-bb57-4968-9539-3c0019dd2fdb.jpg" class="img-responsive" /></div>
    <div class="col-md-4"><img src="~/Files/Pictures/7a9ede52-bb57-4968-9539-3c0019dd2fdb.jpg" class="img-responsive"/></div>
    <div class="col-md-4"><img src="~/Files/Pictures/7a9ede52-bb57-4968-9539-3c0019dd2fdb.jpg" class="img-responsive" /></div>
</div>
