<h2 class="text-center">感谢您的预定</h2>
<p class="text-center text-primary">请支付您的票款，完成车票预定</p>
<p class="text-center text-warning">付款时请务必留言<strong>备注手机号</strong>，以便我们工作人员核实确认</p>
<p class="text-center text-warning">经确认合适付款后，您将收到订票成功的短信通知</p>
<p class="text-center">支付方式：</p>
<a href="#" class="thumbnail">
    <img src="~/Files/Pictures/wachatPay.png" alt="dish" />
</a>
<p>支付宝:zouph204@163.com</p>
<p>支付时务必备注您的手机号，以便我们工作人员确认信息，确认完成后您会收到预定成功的短信通知。</p>