@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SuperHui</title>
    <meta name="description" content="个人站点，仅用于个人展示及交流" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <style>
        .input-validation-error {
            border-color: red;
            background-color: #fee;
        }
    </style>    
    <environment names="Development">
        <link rel="stylesheet" href="~/css/bootstrap.css">
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        @*<link rel="stylesheet" type="text/css" href="http://expo.bootcss.com/assets/css/site.min.css?v=66ea36ef3f" />*@
    </environment>     
    @Html.Raw(JavaScriptSnippet.FullScript)

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="//cdn.bootcss.com/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="//cdn.bootcss.com/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <script>
        function imgLoaded(img) {
            var imgWrapper = img.parentNode;
            imgWrapper.className += imgWrapper.className ? ' loaded' : 'loaded';
        }
    </script>
</head>
<body class="home-template">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">SuperHui</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">主页</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="About">关于</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Contact">联系我</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="body-content container">
        @RenderBody()
        <hr />        
    </div>
    <div class="submit-site">
        <div class="container">
            <div class="submit">
                <p class="text-center">如果你有什么想对我说的<a asp-controller="Comment" asp-action="Create" asp-route-area="">请给我留言</a></p>
                <p class="text-center">感谢您的访问！</p>
            </div>
        </div>
    </div>

    <footer class="main-footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="widget">
                        <h4 class="title">联系我</h4>
                        <address>
                            <strong>邮箱:</strong> <a href="mailto:threshold2015@outlook.com">threshold2015@outlook.com</a><br />
                            <strong>微信:</strong> <a href="">phzou204</a><br />
                            <strong>留言给我：</strong><a asp-action="Create" asp-controller="Comment">转到留言板</a>
                            @*<strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>*@
                        </address>
                        @*<div class="content friend-links">
                                <a href="http://www.bootcss.com/" title="Bootstrap中文网" onclick="_hmt.push(['_trackEvent', 'link', 'click', 'Bootstrap中文网'])" target="_blank">Bootstrap中文网</a>
                                <a href="http://www.golaravel.com/" title="Laravel中文网" onclick="_hmt.push(['_trackEvent', 'link', 'click', 'Laravel中文网'])" target="_blank">Laravel中文网</a>
                            </div>*@
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="widget">
                        <h4 class="title">我用到的技术</h4>
                        <div class="content tag-cloud">
                            <a href="https://docs.microsoft.com/zh-cn/aspnet/core/" title="ASP.NET CORE" onclick="_hmt.push(['_trackEvent', 'link', 'click', 'Asp.net core'])" target="_blank">Asp.net Core</a>
                            <a href="#" title="SQL SERVER" onclick="_hmt.push(['_trackEvent', 'link', 'click', 'Bootstrap中文网'])" target="_blank">Sql Server</a>
                            <a href="#" title="ENTITY FRAMEWORK" onclick="_hmt.push(['_trackEvent', 'link', 'click', 'Bootstrap中文网'])" target="_blank">Entity FrameWork</a>

                            <a href="http://www.bootcss.com/" title="Bootstrap中文网" onclick="_hmt.push(['_trackEvent', 'link', 'click', 'Bootstrap中文网'])" target="_blank">Bootstrap</a>
                            <a href="http://www.ghostchina.com/" title="Ghost中国" onclick="_hmt.push(['_trackEvent', 'link', 'click', 'Ghost中国'])" target="_blank">Ghost</a>
                            <a href="http://www.bootcdn.cn/" title="BootCDN" onclick="_hmt.push(['_trackEvent', 'link', 'click', 'BootCDN'])" target="_blank">BootCDN</a>
                            <a href="http://www.gruntjs.net/" title="Grunt中文网" onclick="_hmt.push(['_trackEvent', 'link', 'click', 'Grunt中文网'])" target="_blank">Grunt</a>
                            <a href="http://www.jquery123.com/" title="jQuery中文文档" onclick="_hmt.push(['_trackEvent', 'link', 'click', 'jQuery中文文档'])" target="_blank">jQuery</a>
                            <a href="http://babeljs.cn/" title="Babeljs中文网" onclick="_hmt.push(['_trackEvent', 'link', 'click', 'Babeljs中文网'])" target="_blank">Babeljs</a>
                            <a href="http://lodashjs.com/" title="lodash中文网" onclick="_hmt.push(['_trackEvent', 'link', 'click', 'Lodash中文网'])" target="_blank">Lodash</a>
                            <a href="http://www.gulpjs.com.cn/" title="Gulp中文网" onclick="_hmt.push(['_trackEvent', 'link', 'click', 'Gulp中文网'])" target="_blank">Gulp</a>
                        </div>
                    </div>
                </div>

                @*<div class="col-sm-4">
                        <div class="widget">
                            <h4 class="title">赞助商</h4>
                            <div class="content friend-links">
                                <a href="https://www.upyun.com/" title="又拍云" onclick="_hmt.push(['_trackEvent', 'link', 'click', '又拍云'])" target="_blank">又拍云</a>
                            </div>
                        </div>
                    </div>*@
            </div>
        </div>
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <span>&copy; 2017 - <a href="http://expo.bootcss.com">SuperHui</a></span> |
                        <span><a href="http://www.miibeian.gov.cn/" target="_blank">京ICP备17032873号</a></span>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    
    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script asp-src-include="lib/jquery-validation/**/jquery.validate.js"></script>
        <script asp-src-include="lib/jquery-validation-unobtrusive/**/*.js" asp-src-exclude="**.min.js"></script> 
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
        <script asp-src-include="lib/jquery-validation/**/jquery.validate.min.js"></script>
        <script asp-src-include="lib/jquery-validation-unobtrusive/**/*.min.js"></script> 
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
