@model Comment
<div class="well">
    @*<h3>
        <span class="pull-right label label-primary">
            @Model.Time.ToString()
        </span>
    </h3>*@
    <p>
        <span class="pull-right label label-primary">
            @Model.Time.ToString()
        </span>
    </p>
    <div>
        <span class="lead">
            @Model.Content
        </span>
    </div>    
</div> 