@model Comment

@*<div class="well">
    <div>
        <span class="lead">
            @Model.Content
        </span>
    </div>    
    <span class="label label-primary">
            @Model.Time.ToString()
    </span>
    
</div>*@ 

<blockquote class="well">
    <p>@Model.Content</p>
    <footer>@Model.Time.ToString()</footer>
</blockquote>
