@model Album
@{
    ViewData["Title"] = "Album";
}
<h2 class="center-block">@Model.Name</h2>
<strong><a asp-action="UploadPhoto" asp-route-albumId=@Model.AlbumID>UploadPhoto</a></strong>
<div class="row">
    @foreach (var p in Model.Lines)
    {
        <div class="well col-md-4">            
            <a href="#" class="thumbnail">
                <img src="@p.Picture.PictureName" lowsrc="@p.Picture.ThumbnailName" style="width:100%;" alt="Albums" />
            </a>
            <div>
                <a class="btn btn-sm btn-primary" href="#">Edit</a>
                <div class="dropdown pull-right">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Delete
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li><a class="btn btn-sm" asp-action="DeletePhoto" asp-route-albumId=@Model.AlbumID asp-route-albumPictureLineId=@p.AlbumPictureLineID>删除</a></li>
                        <li><a class="btn btn-sm" asp-action="DeletePhotoCompletely" asp-route-albumId=@Model.AlbumID asp-route-albumPictureLineId=@p.AlbumPictureLineID>彻底删除</a></li>                        
                    </ul>
                </div>
                @*<a class="btn btn-sm btn-warning pull-right" asp-action="DeletePhoto" asp-route-albumId=@Model.AlbumID asp-route-albumPictureLineId=@p.AlbumPictureLineID>Del</a>
                <a class="btn btn-sm btn-warning pull-right" asp-action="DeletePhotoCompletely" asp-route-albumId=@Model.AlbumID asp-route-albumPictureLineId=@p.AlbumPictureLineID>DelCompletely</a>*@            
            </div>
        </div>
    }
</div>

