@model Album
@{
    ViewData["Title"] = "UploadPhoto";
}

<h2>UploadPhoto</h2>
<h2>@Model.Name</h2>
@if (TempData["message"] != null)
{
    <div class="alert alert-success">@TempData["message"]</div>
}
<form asp-action="UploadPhoto"
      asp-route-albumId=@Model.AlbumID
      method="post"
      enctype="multipart/form-data">
    <input type="file" name="files" class="file" style="margin:0px 0px 10px 0px" multiple />
    <div class="form-group">
        <input type="submit" class="btn btn-primary" value="Upload Selected Files" />
        <a asp-action="Album" asp-route-albumId=@Model.AlbumID class="btn btn-default">查看</a>
    </div>
    
</form>
