<h3>
    <strong>
        欢迎乘坐 郑州--南阳 专业班车
    </strong>    
    <br />    
</h3>

<div class="row">
    <div class="well col-md-4">
        <h3>
            <abbr title="Phone">随车手机:</abbr><strong>17630669522</strong>
            @*<strong>@Model.Name</strong>*@
            <span class="pull-right label label-primary">
                    <a class="pull-right label label-primary" asp-action="BookInfor" asp-controller="BusHome">订票</a>
            </span>
            @*<button type="button" class="pull-right btn btn-success btn-sm pull-right">订票</button>*@
        </h3>
        <a href="#" class="thumbnail">
            <img src="~/Files/Pictures/bus1.jpg" alt="dish" />
        </a>
    </div>
    <div class="well col-md-4">
        @*<address>
            <abbr title="Phone">随车手机:</abbr>
            <strong>17630669511</strong>
        </address>*@
        <h3>
            <abbr title="Phone">随车手机:</abbr><strong>17630669522</strong>
            @*<strong>@Model.Name</strong>*@
            @*<span class="pull-right label label-primary">
            @Model.Price.ToString("c")
        </span>*@
            <span class="pull-right label label-primary">
                <a class="pull-right label label-primary" asp-action="BookInfor" asp-controller="BusHome">订票</a>
            </span>
        </h3>
        <a href="#" class="thumbnail">
            <img src="~/Files/Pictures/bus2.jpg" alt="dish" />
        </a>
    </div>
</div>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>编号：</th>
            <th>发车时间：</th>
            <th class="text-right">票价：</th>
            <th class="text-right">站点：</th>
        </tr>
    </thead>
    <tbody>
        @*@foreach (var line in Model.Cart.Lines)
        {
            
        }*@
        <tr>
            <td class="text-center">1</td>
            <td class="text-left">6：00</td>
            <td class="text-right">50</td>
            <td class="text-right">
                镇坪 南阳 方城 旧县 叶县
            </td>
            <td>
                <form method="post">
                    <input type="hidden" name="ProductID"
                           value="" />
                    <input type="hidden" name="returnUrl"
                           value="" />
                    <button type="submit" class="btn btn-sm btn-danger ">
                        预定
                    </button>
                </form>
            </td>
        </tr>
        <tr>
            <td class="text-center">2</td>
            <td class="text-left">6：00</td>
            <td class="text-right">50</td>
            <td class="text-right">
                镇坪 南阳 方城 旧县 叶县
            </td>
            <td>
                <form method="post">
                    <input type="hidden" name="ProductID"
                           value="" />
                    <input type="hidden" name="returnUrl"
                           value="" />
                    <button type="submit" class="btn btn-sm btn-danger ">
                        预定
                    </button>
                </form>
            </td>
        </tr>
        <tr>
            <td class="text-center">3</td>
            <td class="text-left">6：00</td>
            <td class="text-right">50</td>
            <td class="text-right">
                镇坪 南阳 方城 旧县 叶县
            </td>
            <td>
                <form method="post">
                    <input type="hidden" name="ProductID"
                           value="" />
                    <input type="hidden" name="returnUrl"
                           value="" />
                    <button type="submit" class="btn btn-sm btn-danger ">
                        预定
                    </button>
                </form>
            </td>
        </tr>
        <tr>
            <td class="text-center">4</td>
            <td class="text-left">6：00</td>
            <td class="text-right">50</td>
            <td class="text-right">
                镇坪 南阳 方城 旧县 叶县
            </td>
            <td>
                <form method="post">
                    <input type="hidden" name="ProductID"
                           value="" />
                    <input type="hidden" name="returnUrl"
                           value="" />
                    <button type="submit" class="btn btn-sm btn-danger ">
                        预定
                    </button>
                </form>
            </td>
        </tr>
        <tr>
            <td class="text-center">5</td>
            <td class="text-left">6：00</td>
            <td class="text-right">50</td>
            <td class="text-right">
                镇坪 南阳 方城 旧县 叶县
            </td>
            <td>
                <form method="post">
                    <input type="hidden" name="ProductID"
                           value="" />
                    <input type="hidden" name="returnUrl"
                           value="" />
                    <button type="submit" class="btn btn-sm btn-danger ">
                        预定
                    </button>
                </form>
            </td>
        </tr>
        <tr>
            <td class="text-center">6</td>
            <td class="text-left">6：00</td>
            <td class="text-right">50</td>
            <td class="text-right">
                镇坪 南阳 方城 旧县 叶县
            </td>
            <td>
                <form method="post">
                    <input type="hidden" name="ProductID"
                           value="" />
                    <input type="hidden" name="returnUrl"
                           value="" />
                    <button type="submit" class="btn btn-sm btn-danger ">
                        预定
                    </button>
                </form>
            </td>
        </tr>
    </tbody>
    @*<tfoot>
        <tr>
            <td colspan="3" class="text-right">Total:</td>
            <td class="text-right">
                50
            </td>
        </tr>
    </tfoot>*@
</table>

